@model OdeToFood.ViewModels.HomePageViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>@Model.CurrentMessageOfTheDay</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td><a asp-action="Details" asp-route-id="@restaurant.Id">@restaurant.Name</a></td>
        </tr>
    }
</table>
</body>
</html>