<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @DateTime.Now
    @RenderBody()
</div>
<footer>
    @RenderSection("footer",false)
</footer>
</body>
</html>