<div class="vertical-center">
  <div class="container align-self-center">
    <div class="row">
      <div class="col-md-12 register-left" *ngIf="!passwordModified">
        <div class="row mt-3" *ngIf="!tokenValid">
          <h1 class="alert-danger">
              de gebruikte link is vervallen.
            </h1>
        </div>
        <div [formGroup]="passwordResetFormGroup" *ngIf="tokenValid">
          <h2 class="card-title mr-2">wachtwoord herstellen</h2>
          <div class="form-group ">
            <div class="row mt-6">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="NewPassWord">Wachtwoord</label>
                  <input
                    type="password"
                    id="NewPassWord"
                    class="form-control"
                    placeholder="Wachtwoord *"
                    value=""
                    formControlName="NewPassWord"
                  />
                  <span
                    *ngIf="
                      passwordResetFormGroup.get('NewPassWord')
                        .hasError('required') &&
                      passwordResetFormGroup.get('NewPassWord')
                        .touched
                    "
                    class="alert-danger errorMessage"
                  >Vul een wachtwoord in!</span
                  >
                  <span
                    *ngIf="
                      passwordResetFormGroup.get('NewPassWord')
                        .hasError('minlength') &&
                      passwordResetFormGroup.get('NewPassWord')
                        .touched
                    "
                    class="alert-danger errorMessage"
                  >Het wachtwoord moet minstens 6 tekens bevatten!</span
                  >
                </div>
                <div class="form-group">
                  <label for="NewPassWordConfirm"
                  >Bevestig wachtwoord</label
                  >
                  <input
                    type="password"
                    id="NewPassWordConfirm"
                    class="form-control"
                    placeholder="Bevestig wachtwoord *"
                    value=""
                    formControlName="NewPassWordConfirm"
                  />
                  <span
                    *ngIf="
                      passwordResetFormGroup.get('NewPassWordConfirm')
                        .hasError('required') &&
                      passwordResetFormGroup.get(
                        'NewPassWordConfirm'
                      ).touched
                    "
                    class="alert-danger errorMessage"
                  >Vul dit veld in!</span
                  >
                  <span
                    *ngIf="
                      !passwordResetFormGroup.get('NewPassWordConfirm')
                        .hasError('required') &&
                      passwordResetFormGroup.status ===
                        'INVALID' &&
                      passwordResetFormGroup.get(
                        'NewPassWordConfirm'
                      ).touched
                    "
                    class="alert-danger errorMessage"
                  >De wachtwoorden komen niet overeen!</span
                  >
                </div>
              </div>
            </div>
            <button id="opslaanUser" type="button" class="btn btn-primary col-md-12 mr-2"
                    (click)="resetPassword()">Opslaan
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="passwordModified">
        <h2 class="alert-warning">
          U wordt herleid naar de log in pagina
        </h2>
      </div>
    </div>
  </div>
</div>
